@using MvcTestEntity.ViewModels
@model CreateEmployeeViewModel
@{
    Layout = "~/Views/Shared/MyView.cshtml";
}

@section TitleSection{
    CreateEmployee
}

@section HeaderSection{
    <script src="~/scripts/EmployeeValidation.js"></script>
}

@section ContentBody{
    <div>
        <form action="/Employee/SaveEmployee" method="post">

            <table>
                <tr>
                    <td>First Name：</td>
                    <td><input type="text" id="txtFname" name="FirstName" value="@Model.FirstName" /></td>
                    <td>@Html.ValidationMessage("FirstName")</td>
                </tr>
                <tr>
                    <td>Last Name：</td>
                    <td><input type="text" id="txtLname" name="LastName" value="@Model.LastName" /></td>
                    <td>@Html.ValidationMessage("LastName")</td>
                </tr>
                <tr>
                    <td>Salary：</td>
                    <td><input type="text" id="txtSalary" name="Salary" value="@Model.Salary" /></td>
                    <td>@Html.ValidationMessage("Salary")</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" name="btnSubmit" value="Save" onclick="return IsValid();" />
                        <input type="button" name="btnReset" value="Reset" onclick="ResetForm();" />
                        <input type="submit" name="btnSubmit" value="Cancel" />
                    </td>
                </tr>



            </table>
        </form>

    </div>
}

